<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="/download/bootstrap.min.css"> -->
    {% if debug %}
    <link type="text/css" rel="stylesheet" href="/download?filename=/websource/bootstrap-5.3.3.min.css" />
    {% else %}
    <link type="text/css" rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    {% endif %}
    <link type="text/css" rel="stylesheet" href="/download?filename=mainstyle.css" />
    <title>404 notfound</title>
</head>
<body>
    <div id="404body" class="content">
        <p>404 not found</p>
        <p><span id="time404">5</span>秒后跳转回主页</p>
    </div>
    <footer id="footer" class="footer">隧光</div>
    {% if debug %}
    <script src="/download?filename=/websource/jquery-3.7.1.min.js"></script>
    <script src="/download?filename=/websource/bootstrap-5.3.3.min.js"></script>
    {% else %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    {% endif %}
    <script src="/download?filename=/js/404.js"></script>
</body>
</html>