<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="/download/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <title>主页</title>
</head>
<body>
    
    <div id="footer" class="footer">隧光</div>
    <!-- <script src="/download/jquery-3.6.4.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/download?filename=js/index.js"></script>
</body>
</html>