<!DOCTYPE html>
<html lang="en">

<head>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    注册
  </title>
  
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="/download?filename=/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/download?filename=/websource/bootstrap.min.css" rel="stylesheet" />
  <link href="/download?filename=/css/black-dashboard.css" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/download?filename=/css/demo.css" rel="stylesheet" />
</head>

<body class=" ">
  <div class="wrapper ">
    <div class="sidebar" data-color="green">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="#" class="simple-text logo-mini"></a>
          <a href="#" class="simple-text logo-normal">功能</a>
        </div>
        <ul class="nav">
          <li>
            <a href="/index">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>主页</p>
            </a>
          </li>
          <li>
            <a href="/upload">
              <i class="tim-icons icon-wallet-43"></i>
              <p>上传文件</p>
            </a>
          </li>
          <li>
            <a href="/history">
              <i class="tim-icons icon-calendar-60"></i>
              <p>提交历史</p>
            </a>
          </li>
          {%if debug%}
          <li>
            <a href="/icons">
              <i class="tim-icons icon-atom"></i>
              <p>图标组件</p>
            </a>
          </li>
          {# <li>
            <a href="./notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li> #}
          <li>
            <a href="./user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>用户组件</p>
            </a>
          </li>
          <li>
            <a href="./tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>表格组件</p>
            </a>
          </li>
          <li>
            <a href="./typography.html">
              <i class="tim-icons icon-align-center"></i>
              <p>弹窗组件</p>
            </a>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent   ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="/index">隐流明鉴</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto ">
              <li id="aboutuser" class="dropdown nav-item"><a href="/login">登录</a></li>
              <li class="dropdown nav-item"><a href="/register">注册</a></li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
      <div class="card">
              <div class="card-header">
                <h5 class="title">注册</h5>
              </div>
              <form id="regfm">
                <div class="card-body">
                    <div class="col-md-3 px-md-1">
                        <div class="form-group">
                            <label>用户名</label>
                            <input id="urname" name="urname" class="form-control" type="text" required/>
                        </div>
                    </div>
                    <div class="col-md-3 px-md-1">
                        <div class="form-group">
                            <label>密码</label>
                            <input id="passwd" name="passwd" class="form-control" type="password" required/>
                        </div>
                    </div>
                    <div class="col-md-3 px-md-1">
                        <div class="form-group">
                            <label>确认密码</label>
                            <input id="passwd2" name="passwd2" class="form-control" type="password" required/>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  {# <button type="submit" class="btn btn-fill btn-primary">提交</button> #}
                      <input type="submit" class="btn btn-fill btn-success" value="注册"/>
                </div>
              </form>
            </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="#">
                  隧光
                </a>
              </li>|
              <li>
                <a href="#">
                  隐流明鉴
                </a>
              </li>
            </ul>
          </nav>
      </footer>
      </div>
    </div>
    <div class="fixed-plugin">
      <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
          <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
          <li class="header-title"> Sidebar Background</li>
          <li class="adjustments-line">
            <a href="javascript:void(0)" class="switch-trigger background-color">
              <div class="badge-colors text-center">
                <span class="badge filter badge-primary active" data-color="primary"></span>
                <span class="badge filter badge-blue" data-color="blue"></span>
                <span class="badge filter badge-green" data-color="green"></span>
              </div>
              <div class="clearfix"></div>
            </a>
          </li>
          <li class="adjustments-line text-center color-change">
            <span class="color-label">LIGHT MODE</span>
            <span class="badge light-badge mr-2"></span>
            <span class="badge dark-badge ml-2"></span>
            <span class="color-label">DARK MODE</span>
          </li>
          <li class="button-container">
            <a href="#" class="btn btn-primary btn-block btn-round">Download Now</a>
            <a href="#" class="btn btn-default btn-block btn-round">
              Documentation
            </a>
          </li>
          <li class="header-title">Thank you for 95 shares!</li>
          <li class="button-container text-center">
            <button id="twitter" class="btn btn-round btn-info"><i class="fab fa-twitter"></i> &middot; 45</button>
            <button id="facebook" class="btn btn-round btn-info"><i class="fab fa-facebook-f"></i> &middot; 50</button>
            <br>
            <br>
            <a class="github-button" href="#" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
          </li>
        </ul>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/download?filename=/websource/jquery.min.js"></script>
    <script src="/download?filename=/websource/popper.min.js"></script>
    <script src="/download?filename=/websource/bootstrap.min.js"></script>
    <script src="/download?filename=/websource/perfect-scrollbar.jquery.min.js"></script>
    <!-- Chart JS -->
    <script src="/download?filename=/websource/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/download?filename=/websource/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/download?filename=/websource/black-dashboard.min.js"></script>
    <script src="/download?filename=/websource/jscookies.min.js"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="/download?filename=/js/demo.js"></script>
    <script src="/download?filename=/js/stylejs.js"></script>
    <script src="/download?filename=/js/upload.js"></script>
    <script src="/download?filename=/js/register.js"></script>
</body>

</html>