<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试页面</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/download?filename=/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/download?filename=/websource/bootstrap.min.css" rel="stylesheet" />
    <link href="/download?filename=/css/black-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/download?filename=/css/demo.css" rel="stylesheet" />
</head>
<body>
    <form id="login">
        <input type="text" name="usname"/>
        <input type="password" name="passwd"/>
        <input type="submit"/>
    </form>
    <script src="/download?filename=/websource/jquery.min.js"></script>
    <script src="/download?filename=/websource/popper.min.js"></script>
    <script src="/download?filename=/websource/bootstrap.min.js"></script>
    <script src="/download?filename=/websource/perfect-scrollbar.jquery.min.js"></script>
    <!-- Chart JS -->
    <script src="/download?filename=/websource/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/download?filename=/websource/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/download?filename=/websource/black-dashboard.min.js"></script>
    <script src="/download?filename=/websource/jscookies.min.js"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="/download?filename=/js/demo.js"></script>
    <script src="/download?filename=/js/stylejs.js"></script>
    <script src="/download?filename=/js/testpage.js"></script>
</body>