<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试页面</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/download?filename=/css/mainstyle.css" />
</head>
<body>
    <h1>Hello world!</h1>
    <div>
        debug模式已经开启
    </div>
</body>