<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试页面</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/download?filename=/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/download?filename=/websource/bootstrap.min.css" rel="stylesheet" />
    <link href="/download?filename=/css/black-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/download?filename=/css/demo.css" rel="stylesheet" /><link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body><el-upload
  class="upload-demo"
  action="https://jsonplaceholder.typicode.com/posts/"
  :on-preview="handlePreview"
  :on-remove="handleRemove"
  :before-remove="beforeRemove"
  multiple
  :limit="3"
  :on-exceed="handleExceed"
  :file-list="fileList">
  <el-button size="small" type="primary">点击上传</el-button>
  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
</el-upload>
<script>
  export default {
    data() {
      return {
        fileList: [{name: 'food.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'}, {name: 'food2.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'}]
      };
    },
    methods: {
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      },
      handleExceed(files, fileList) {
        this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
      },
      beforeRemove(file, fileList) {
        return this.$confirm(`确定移除 ${ file.name }？`);
      }
    }
  }
</script>    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/download?filename=/websource/jquery.min.js"></script>
    <script src="/download?filename=/websource/popper.min.js"></script>
    <script src="/download?filename=/websource/bootstrap.min.js"></script>
    <script src="/download?filename=/websource/perfect-scrollbar.jquery.min.js"></script>
    <!-- Chart JS -->
    <script src="/download?filename=/websource/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/download?filename=/websource/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/download?filename=/websource/black-dashboard.min.js"></script>
    <script src="/download?filename=/websource/jscookies.min.js"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="/download?filename=/js/demo.js"></script>
    <script src="/download?filename=/js/stylejs.js"></script>
    <script src="/download?filename=/js/testpage.js"></script>
    <script src="/download?filename=/js/getuser.js"></script>
</body>